.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
  background-color: #f0f0f0; /* Light background color */
}

h2 {
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color: #333; /* Darker text color */
}

.google-button {
  background-color: #4285f4; /* Google blue */
  color: white; /* White text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.google-button:hover {
  background-color: #357ae8; /* Darker blue on hover */
}